<h3>ExploreBinding</h3>
<div style="margin:10px">
    <CheckboxComponent3 Name="Test4 checkbox component" @bind-CheckboxValue="@CheckBoxComponent4Value" />
    CheckBoxComponent4Value is @CheckBoxComponent4Value<br />

    <button @onclick="@InvertCheckbox4Component">Invert Checkbox4Component</button><br />
</div>
<div style="margin:10px">
    <CheckboxComponent3 Name="Test3 checkbox component" @bind-CheckboxValue="@CheckBoxComponent3Value" />
    CheckBoxComponent3Value is @CheckBoxComponent3Value<br />

    <button @onclick="@InvertCheckbox3Component">Invert Checkbox3Component</button><br />
</div>
<div style="margin:10px">
    <CheckComponent2 Name="Test2 checkbox component" CheckboxValue="@CheckBoxComponent2Value" />
    CheckBoxComponent2Value is @CheckBoxComponent2Value<br />
    <button @onclick="@InvertCheckbox2Component">Invert Checkbox2Component</button><br />
</div>
<div style="margin:10px">
    <CheckboxComponent Name="Test1 checkbox component" />
</div>
<div style="margin:10px">
    CheckBoxValue is @CheckBoxValue <br />
    CheckBoxField is @CheckBoxField <br />
    <input type="checkbox" @bind="@CheckBoxValue" />
    <input type="checkbox" @bind="@CheckBoxField" />
    <label Value="@CheckBoxValue" />
    <button @onclick="@InvertCheckBoxValue">Invert CheckBoxValue</button>
</div>

@code {
    private bool CheckBoxComponent4Value { get; set; } = false;
    private bool CheckBoxComponent3Value { get; set; } = false;
    private bool CheckBoxComponent2Value { get; set; } = false;
    private bool CheckBoxValue { get; set; } = false;
    private bool CheckBoxField = false;

    private void InvertCheckbox4Component()
    {
        CheckBoxComponent4Value = !CheckBoxComponent4Value;
    }

    private void InvertCheckbox3Component()
    {
        CheckBoxComponent3Value = !CheckBoxComponent3Value;
    }

    private void InvertCheckbox2Component()
    {
        CheckBoxComponent2Value = !CheckBoxComponent2Value;
    }

    private void InvertCheckBoxValue()
    {
        CheckBoxValue = !CheckBoxValue;
    }
}
